/* Card */
.card {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: auto;
}
.card .img {
    width: 100%;
    border-radius: 10px;
}
.card .post-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card .date {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: var(--bg-color);
    width: fit-content;
    border-radius: 5px;
}
.card .post-details div {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* End Card */